.slide-1 {
  background: url(../assets/img/back1.png) center / cover;
  position: relative;
}
.slide-1__header {
  font: 100px/1.2 GothamPro, sans-serif;
  color: #0d319c;
  margin: 289px 0 0 147px;
  width: 1430px;
  display: inline-block;
  position: relative;
}

@keyframes blinking {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

.box {
  display: flex;
}
.box__elipse {
  width: 105px;
  height: 105px;
}
.box__elipse-1 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 3px #cf543b;
  border-radius: 50%;
  background: linear-gradient(to bottom, rgba(205, 23, 59, .4), rgba(222, 121, 29, .4));
  display: flex;
}
.box__elipse-2 {
  width: 75%;
  height: 75%;
  box-sizing: border-box;
  border: 2px solid #cf543b;
  border-radius: 50%;
  background: rgba(222, 121, 29, .4);
  margin: auto;
  display: flex;
  animation: blinking 1s infinite;
}
.box__elipse-3 {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(222, 121, 29, .4), rgba(205, 23, 59, .4));
  margin: auto;
  animation: blinking 1s infinite;
}
.box__text {
  font: 40px Lato, sans-serif;
  color: #0d319c;
}

.box-1 {
  position: absolute;
  top: 525px;
  left: 1125px;
}
.box-1__elipse {
  width: 105px;
  height: 105px;
}
.box-1__text {
  position: relative;
  left: 23px;
  top: 33px;
}

.box-2 {
  position: absolute;
  top: 854px;
  left: 549px;
}
.box-2__elipse {
  width: 54px;
  height: 54px;
}
.box-2__text {
  position: relative;
  left: -153px;
  top: -79px;
}

.box-3 {
  position: absolute;
  top: 1077px;
  left: 959px;
}
.box-3__elipse {
  width: 32px;
  height: 32px;
}
.box-3__text {
  position: relative;
  left: -251px;
  top: -53px;
}

.box-4 {
  position: absolute;
  top: 1034px;
  left: 1646px;
}
.box-4__elipse {
  width: 32px;
  height: 32px;
}
.box-4__text {
  position: relative;
  left: -94px;
  top: -50px;
}

.slide-2 {
  background: url(../assets/img/back2.png) center / cover;
  overflow: hidden;
  position: relative;
}
.slide-2__ice {
  background: url(../assets/img/ice.png) no-repeat;
  width: 100%;
  height: 100%;
  left: 164px;
  top: 66px;
  position: absolute;
}
.slide-2__header {
  font: 300 100px GothamPro, sans-serif;
  width: 920px;
  color: #fff;
  display: inline-block;
  margin: 510px 0 0 566px;
}

.slide-3 {
  background: url(../assets/img/back3.png) center / cover;
  position: relative;
  overflow: hidden;
}
.slide-3__ice {
  background: url(../assets/img/ice2.png) no-repeat;
  width: 110%;
  height: 100%;
  left: -10px;
  top: 217px;
  position: absolute;
}
.slide-3__header {
  font: 60px GothamPro, sans-serif;
  color: #fff;
  display: inline-block;
  margin: 233px 0 0 168px;
}
.slide-3__scheme {
  margin: 14px 0 0 105px;
}
