.slider {
  overflow: hidden;
  position: relative;
}
.slider__slides {
  position: absolute;
  top: 0;
  width: 100%;
  transition: top .5s ease-in-out;
}
.slider__indicators {
  position: absolute;
  right: 54px;
  top: 0;
  z-index: 50;
}
.slider__to-bottom {
  position: absolute;
  bottom: 0;
  left: 941px;
  z-index: 50;
}
.slider__to-bottom--hidden {
  visibility: hidden;
}
